* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background: #EEE;
    font-family: 'microsoft yahei';
    font-size: 100%;
    color: #817c7c;
    line-height: 1.5;
}

body > header {
    padding: 1.8em 0 1.5em;
    width: 100%;
    box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
    background: #7ebadf;
    color: #fff;
}

body > header >div {
    width: 93%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#imglogo {
    width: 5.5em;
    float: left;
    height: 4em;
}

body >header a {
    display: block;
    color: #fff;
}
a {
    text-decoration: none;
    color: #7ebadf;
}

#imglogo img {
    width: 5.5em;
    border-radius: 6.25em;
    transition: transform 2s ease-out;
}

a img {
    border: none;
}

#textlogo {
    float: left;
    margin-left: 0.5em;
}

#textlogo h1.site-name {
    margin-bottom: 20px;
    font-size: 280%;
    width: 86%;
    font-family: "covered_by_your_graceregular";
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

#textlogo h2.blog-motto {
    font-size: 0.75em;
    font-weight: normal;
}

.navbar {
    display: none;
    position: absolute;
    width: 2em;
    right: 0em;
    top: 1em;
    padding: 0.5em;
}

.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
    font-weight: 900;
    margin-top: 5em;
}

header nav {
    float: right;
    width: auto;
    margin-top: 1em;
    max-height: none;
    font-size: 112.5%;
    padding-top: 0.5em;
    transition: max-height 1s ease-out;
}

header nav ul {
    float: right;
}

ol, ul {
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 0.2em 1.5em;
}